.workProgress {
  height: 70vh;
  width: 100%;
  background-color: #111;
  display: flex;
  justify-content: center;
  align-items: center;
}
.workProgressMobile {
  display: none;
}

@media screen and (max-width: 1200px) {
  .workProgress {
    height: 60vh;
  }
}

@media screen and (max-width: 750px) {
  .workProgress {
    display: none;
  }
  .workProgressMobile {
    height: 80vh;
    width: 100%;
    background-color: #111;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 480px) {
  .workProgress {
    display: none;
  }
  .workProgressMobile {
    height: 70vh;
    width: 100%;
    background-color: #111;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
