.landingFormContainer {
  display: flex;
  justify-content: center;
  color: #111;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}
.landingFormContainer h1 {
  font-size: 28px;
  margin-bottom: 20px;
}
.landingForm {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 300px;
}
.fieldContainer {
  margin: 8px 0;
  display: flex;
  flex-direction: column;
}
.fieldContainer label {
  font-size: 12px;
}
.fieldContainer textarea {
  width: 100%;
  padding: 5px;
  font-size: 16px;
  font-weight: 500;
  background-color: #fff;
  height: 100px;
}

.fieldContainer input {
  width: 100%;
  padding: 5px;
  font-size: 16px;
  font-weight: 500;
  background-color: #fff;
}
.fieldContainer p {
  color: red;
}
.submitForm {
  margin-top: 20px;
  width: 100%;
  background-color: #111;
  color: #fff;
  padding: 12px;
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
}
.dropZone {
  height: 80px;
  width: 100%;
  margin: 10px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px #111 dotted;
  font-size: 16px;
  cursor: pointer;
}

.reviewContainer {
  padding-top: 40px;
}
.reviewDetails {
  margin: 20px 0;
}
.reviewDetails h1 {
  margin-bottom: 15px;
}
.reviewDetails p span {
  font-weight: bold;
  /* margin-right: px; */
}
.reviewDetails p li {
  list-style: none;
}

.fileNameContainer {
  background-color: #ddd;
  height: 40px;
  padding: 10px 0;
  scroll-behavior: auto;
}
.fileName {
  color: black;
  font-weight: 600;
  margin: 5px 0;
}

@media screen and (max-width: 480px) {
  .landingForm {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
  }
}
