.selectedFiles {
  list-style: none;
  margin: 7px 0px;
}
.selectFileLabel {
  display: none;
}
.selectFileInput {
  display: none;
}
.fileCheck {
  color: red;
  font-size: 15px;
  margin: 10px 0px;
}
